<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>subject page</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
  {% extends 'base.html'}
  {% block content %}

 
 <h1>welcome to subject page</h1>   

 {% for suject in subject %}
 <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ suject.sub_name }}</h5>

    <p class="card-text">{{ suject.teacher_name }}</p>
    <a href="{{ subject.get_absolute_url}}" class="card-link">details</a>
    <a href="#" class="card-link">Another link</a>
  </div>
  <form method="post" action="{% url 'deleteSubject/{{ subject.id}}' %}"></form> 
  {% csrf_token %}
  <button type="submit" >delete</button>

  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">update</button>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">Recipient
            <label for="recipient-name" class="col-form-label">sub_name:</label>
            <input value="{{ subject.sub_name }}" type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">Recipient
            <label for="recipient-name" class="col-form-label">teacher_name:</label>
            <input value="{{ subject.teacher_name }}" type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">description:</label>
            <input value="{{ subject.description }}" type="text" class="form-control" id="recipient-name">
          </div>
        </form method="put" action>
        {% csrf_token %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">submit</button>
      </div>
    </div>
  </div>
</div>
</div>
{% enfor %}

<script>

  function deleteSubject(){
    console.log('you are about to delete')


  }

</script>
 </body>
