<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>subject page</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
  {% extends 'base.html'}
  {% block content %}

 
 <h1>welcome to subject page</h1>   

 {% for suject in subject %}
 <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ suject.sub_name }}</h5>

    <p class="card-text">{{ suject.teacher_name }}</p>
    <a href="{{ subject.get_absolute_url}}" class="card-link">details</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

 </body>
